<launch>
  <!-- 静态 TF -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_to_base"
        args="-0.3 0 0 0 0 0 lidar base_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="footprint_to_lidar"
        args="0 0 0 0 0 0 base_footprint lidar" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom"
        args="0 0 0 0 0 0 map odom" />

  <node pkg="unitree_control" type="unitree_vel_controller" name="vel_to_sdk"/>

  <!-- 点云转 LaserScan 节点 -->
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pc_to_scan" output="screen">
    <!-- 输出到 lidar 坐标系 -->
    <param name="target_frame"        value="lidar"/>
    <param name="transform_tolerance" value="0.05"/>
    <!-- 仅截取高度 -->
    <param name="min_height"          value="0.01"/>
    <param name="max_height"          value="0.6"/>
    <!-- 激光雷达视角 -->
    <param name="angle_min"           value="-0.7853"/>
    <param name="angle_max"           value="0.7853"/>
    <param name="angle_increment"     value="0.017"/>
    <param name="scan_time"           value="0.1"/>
    <!-- 有效测距范围 -->
    <param name="range_min"           value="0.2"/>
    <param name="range_max"           value="5.0"/>
    <!-- 主题重映射 -->
    <remap from="cloud_in" to="/odin1/cloud_slam"/>
    <remap from="scan"     to="/scan"/>
  </node>
</launch>
